.nav {
  @apply px-4 py-3 flex justify-between items-center relative z-50;
  background: var(--background);
  color: var(--foreground);
  border-bottom: var(--border-width-regular) solid var(--foreground);
}

.titleRow {
  @apply flex items-center;
}

.title {
  @apply text-2xl font-semibold px-2;
  color: var(--foreground);
}

.linkList {
  @apply flex gap-4 list-none justify-end items-center flex-1;
}

.link {
  @apply hover:text-white;
  color: var(--foreground);
}
